---
import { TypeAnimation } from 'react-type-animation';
import Layout from '../layouts/Layout.astro';
---

<Layout title="heio.dev">
	<main class="container">
		<div>
			<TypeAnimation
				client:load
				style={{ whiteSpace: 'pre-line' }}
				sequence={[
					1500,
					'Hello',
					500,
					'Hello, my name is Ovidiu.',
					1000,
					'Hello, my name is Ovidiu. Welcome to my website.',
					2000,
					"Hello, my name is Ovidiu. Welcome to my website.\nIt's pretty empty in here, I know.",
				]}
			/>
			<div class="github">
				<p>
					Feel free to check out my <a
						class="github-link"
						href="https://github.com/mrheio"
						target="_blank"
						aria-label="github">github</a
					>.
				</p>
				<a
					class="github-link"
					href="https://github.com/mrheio"
					target="_blank"
					><img src="/github-mark-white.svg" alt="github" /></a
				>
				<h4>Projects:</h4>
				<ul class="projects-list">
					<li>
						<a
							href="https://challengethequota.heio.dev"
							target="_blank">challenge-the-quota</a
						>
					</li>
				</ul>
			</div>
		</div>
	</main>
</Layout>

<style>
	.container {
		display: grid;
		place-items: center;
		min-height: 100vh;
		text-align: center;
		line-height: 1.6;
		font-size: 1.25rem;
		padding: 0.5rem;
	}

	.github {
		opacity: 0;
		pointer-events: none;
		animation-name: show;
		animation-duration: 2s;
		animation-delay: 13s;
		animation-timing-function: ease-in;
		animation-fill-mode: forwards;
	}

	.github-link {
		color: inherit;
	}

	.github img {
		width: 62px;
	}

	@keyframes show {
		to {
			opacity: 1;
			pointer-events: all;
		}
	}

	.projects-list {
		list-style: none;
		padding: 0;
	}
</style>
